@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root{
    --title: #f8c27a;
    --testShadow: 0 2px 2px rgba(0,0,0,.7);
    --boxShadow: 0px 0px 10px
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: boder-box

}

body{
    font-size: 14px;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.container{
    background-color: rgba(255,255,255,.2);
    padding: 20px;
    border-radius:  5px;
    text-align: center;
    box-shadow: var(--boxShadow);
    


}

h1{
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 15px
    color: #ffc31d ;
    test-shadow: var(--textShadow);
    display: inline-block;

}